<footer>
  <div class="footer-text">
    <span class="thc"
      >THE HOBO'S COMPANION
      <span class="copyright"
        >&copy;<%- new Date(Date.now()).getFullYear() %></span
      ></span
    >
    <a href="/about"><span class="question-mark-icon">?</span></a>
  </div>
</footer>
