<footer>
  <div class="footer-text">
    <span class="copyright"> &copy; </span>
    <span class="copy-date">2022</span> <span class="thc">THC&nbsp;&nbsp;</span>
    <a href="/about"><span class="question-mark-icon">?</span></a>
  </div>
</footer>
