<footer>
  <!-- <img
    src="../public/assets/crowd_phli_clarkin_hillberry_banner_edit.jpg"
    alt="Alex's bonkers show lights eclipe a sea of heads in a dark crowd."
  /> -->
  <div class="note-circle">
    <span class="eighth-note">
        &#9835;
    </span>
  </div>
</footer>
