<footer>
  <div class="footer-text">
    <span class="copyright">
      &copy;
    </span>
    <span class="copy-date">2022</span> <span class="thc">THC</span>
    <!-- info -->
    <a href="/about"><span class="question-mark-icon">
      &nbsp;&quest;&nbsp;
    </span></a>
  </div>
</footer>


