<footer>
  <div class="footer-text">
    <span class="thc">THE HOBO'S COMPANION <span class="copyright">&copy;2022</span></span>
    <a href="/about"><span class="question-mark-icon">?</span></a>
  </div>
</footer>
