<div id="show-confirm-bar">
  <button type="button" class="map-popup-buttons" id="edit-back-button">
    &larr; Edit
  </button>
  Correct?
  <button type="button" class="map-popup-buttons">
    <a href="/new-show/confirmation">Yes</a>
    &rarr;
  </button>
</div>
