<div id="show-confirm-bar">
  <button type="button" class="map-popup-buttons" id="edit-back-button">
    <img src="/public/icons/left-arrow.svg" alt="right arrow icon" /> Edit
  </button>
  Looks good?
  <button type="button" class="map-popup-buttons">
    <a href="/new-show/confirmation">Confirm</a>
    <img src="/public/icons/right-arrow.svg" alt="right arrow icon" />
  </button>
</div>
