
/* ************************* */
/* ***** media queries ***** */
/* ************************* */

@media (max-width: 1216px) {
  #header-buttons {
    /* width: 30%; */
  }
}

@media (max-width: 1136px) {
  #header-buttons .button {
    font-size: 14px !important;
  }
}

@media (max-width: 780px) {
  #header-buttons .button {
    /* margin-top: 14px; */
  }

  button#view-mode-button,
  button.sign-in-button {
    /* height: 50px; */
    /* width: 80px; */
  }
}

@media (min-width: 750px) {
  .table-mode-container {
    font-size: 1rem;
  }

  .table-mode-container h1 {
    text-align: center;
    font-size: 30px;
    margin: 0.5rem auto;
  }

  .table-mode-container h3 {
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
    display: block;
  }

  .table-mode-container table {
    margin-top: 1.3rem;
    width: 300px;
  }

  th {
    min-width: 10rem;
  }

  nav > a {
    font-size: 2rem;
    font-weight: 600;
  }

  nav > a:hover {
    font-size: 2.2rem;
  }

  /* header {
    margin-top: 1vh;
  } */

  button #header-buttons .button {
    display: none;
  }

  #setlist-wrapper {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  #song-notes {
    width: fit-content;
    margin: 3% auto;
  }

  .table-mode-container__coming-soon {
    margin: 25vh auto;
  }

  #show-confirm-bar {
    font-size: 2rem;
    width: 60vw;
    margin: 0.5rem auto;
  }

  #show-confirm-bar .map-popup-buttons {
    font-size: 1.5rem;
  }
}

@media (max-width: 586px) {
  .sign-in-button {
    margin-right: 18px;
  }

  #header-buttons {
    width: 40%;
    margin-left: 0px !important;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  #show-notes {
    margin: 3rem auto;
  }
}

@media (min-width: 450px) and (max-width: 749px) {
  .table-mode-container {
    font-size: 1.15rem;
  }

  .table-mode-container h1 {
    text-align: center;
    margin: 0.5rem auto;
  }

  .table-mode-container h3 {
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
    display: block;
  }

  .table-mode-container table {
    margin-top: 1.3rem;
  }

  nav > a {
    font-size: 1.1rem;
    font-weight: 600;
  }

  nav > a:hover {
    font-size: 2.2rem;
  }

  /* what does the below do? */
  /* header {
    margin-top: 1vh;
  } */

  #header-buttons .button {
    font-size: 0.9rem;
  }

  #song-notes {
    width: fit-content;
    margin: 3% auto;
  }

  #show-confirm-bar .map-popup-buttons {
    font-size: 1.25rem;
  }

  .table-mode-container__coming-soon {
    margin: 25vh auto;
  }
}

@media (max-width: 384px) {
  /* .table-mode-container h3,
  h1 {
    text-align: center;
    display: block;
  } */

  tr td {
    font-size: 0.93rem;
  }

  #show-confirm-bar {
    text-align: center;
  }
}

/* @media (max-width: 360px) {
  tr td {
    font-size: 0.71rem;
  }
} */

/* **** inital color palette ****

CSS HEX
--light-french-beige: #c6a680ff;
--smoky-black: #1f1109ff;
--russet: #804a20ff;
--fulvous: #df7d0cff;
--silver-sand: #c7cac7ff;

CSS HSL
--light-french-beige: hsla(33, 38%, 64%, 1);
--smoky-black: hsla(22, 55%, 8%, 1);
--russet: hsla(26, 60%, 31%, 1);
--fulvous: hsla(32, 90%, 46%, 1);
--silver-sand: hsla(120, 3%, 79%, 1);

SCSS HEX
$light-french-beige: #c6a680ff;
$smoky-black: #1f1109ff;
$russet: #804a20ff;
$fulvous: #df7d0cff;
$silver-sand: #c7cac7ff;

SCSS HSL
$light-french-beige: hsla(33, 38%, 64%, 1);
$smoky-black: hsla(22, 55%, 8%, 1);
$russet: hsla(26, 60%, 31%, 1);
$fulvous: hsla(32, 90%, 46%, 1);
$silver-sand: hsla(120, 3%, 79%, 1);

SCSS RGB
$light-french-beige: rgba(198, 166, 128, 1);
$smoky-black: rgba(31, 17, 9, 1);
$russet: rgba(128, 74, 32, 1);
$fulvous: rgba(223, 125, 12, 1);
$silver-sand: rgba(199, 202, 199, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-right: linear-gradient(90deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-bottom: linear-gradient(180deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-left: linear-gradient(270deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-top-right: linear-gradient(45deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-bottom-right: linear-gradient(135deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-top-left: linear-gradient(225deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-bottom-left: linear-gradient(315deg, #c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff);
$gradient-radial: radial-gradient(#c6a680ff, #1f1109ff, #804a20ff, #df7d0cff, #c7cac7ff); */
