/* **** shared **** */

* {
  box-sizing: border-box;
}

body {
  background: url(../assets/crowd_star3.jpeg) no-repeat center center fixed;
}

header {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.7%;
  width: 70%;
  margin-top: 46px;
}

nav > a {
  /* flex: 1; */
  text-decoration: none;
  text-align: center;
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  color: #e0e4ccc6;
  font-size: 1rem;
}

nav > a:hover {
  font-size: 2rem;
}

#header-buttons {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-evenly;
  width: 20%;
  margin-left: 4px;
}

#header-buttons .button {
  border: none;
  padding: 4px 1px;
  border-radius: 2px;
  color: #444;
  font: 400 1rem "Rubik", sans-serif;
  cursor: pointer;
}

button#view-mode-button {
  background-color: #e0e4ccd5;
  height: 30px;
  width: 100px;
}

.sign-in-button {
  background-color: #e0e4ccc6 !important;
  color: #444 !important;
  height: 30px;
  width: 100px;
}

.years,
.total-price {
  line-height: 16px;
}

#user-display {
  font: 500 1rem "Rubik", sans-serif;
  /* text-align: center; */
  text-align: left;
  margin-left: 30px;
  color: #907eab;
}

#cluster-map {
  margin: auto auto 30px auto;
  width: 95vw;
  height: 90vh;
  min-width: 250px;
  max-width: 1400px;
  padding: 0.5rem;
  border-radius: 3px;
}

.mapboxgl-popup-content {
  width: fit-content;
  text-align: center;
  font-size: 1rem;
}

.mapboxgl-popup-content ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  line-height: 1.3rem;
}

.mapboxgl-popup-content h1 {
  font-size: 1rem;
}

.table-mode-container {
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0.9);
  width: 96vw;
  height: 76vh;
  overflow: scroll;
  min-width: 250px;
  font: 100 1rem "Rubik", sans-serif;
  /* padding: 5px 10px; */
  margin: 0px auto;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  column-gap: 20px;
  margin: 10px 0px;
}

.table-mode-container h1 {
  margin-bottom: 4px !important;
  font-size: 29px;
  color: #5c516d;
  font-weight: 400;
}

.table-mode-container h3 {
  margin-bottom: 0px !important;
  font-size: 16px !important;
  color: #444;
  line-height: 1.4rem;
  font-weight: 400;
}

.table-mode-container__headers--single-model {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
}

.table-mode-container > table {
  position: relative;
  width: 100%;
}

th {
  height: 2.3rem;
  min-width: 4.2rem;
  font-weight: 300;
  background-color: #bdcdcd7e;
  color: #6e4513;
}

.table-mode-container__thead {
  position: sticky;
  top: -6px;
}

.table-mode-container__thead--no-transparency {
  background-color: #c7cac7ff;
  transition-property: background-color;
  transition-duration: 0.1s;
}

tr td {
  border-bottom: 1px solid rgb(205, 205, 205);
  height: 36px;
  text-align: center;
  vertical-align: bottom;
}

#about {
  padding: 0px 60px;
}

#about a {
  text-decoration: none;
  color: #5c516d;
  font-weight: 500;
}

#about a:hover {
  color: #84739f;
}

/* make the first column of the ALL VENUES table more narrow */
#table-column-0 {
  max-width: 50px;
  text-align: center;
}

td a {
  text-decoration: none;
  color: #444;
}

td > a:hover {
  font-weight: 400;
  color: #cb6d1c;
}

.icon {
  position: relative;
  top: 0.1rem;
  width: 1rem;
  height: 1rem;
  margin: auto;
}

/* **** venue-page **** */

#performance-list {
  margin: auto;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.3rem;
  padding-top: 2rem;
}

#performance-list > a {
  text-decoration: none;
  color: #0000ee;
}

#performance-list > a:hover,
#performance-list > a:active,
#performance-list > a:focus {
  text-decoration: none;
  border-bottom: 1px solid black;
  font-size: 1.6rem;
}

/* **** show-page **** */

#setlist-wrapper {
  width: 100%;
  height: fit-content;
  margin: 1rem auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.setlist-title {
  text-align: center;
  margin: 0;
}

.setlist {
  width: fit-content;
}

.setlist ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0.5rem auto;
}

.setlist li {
  width: fit-content;
}

.encore-title {
  font-weight: 400;
}

.encore-list ul {
  margin: 0;
}

#show-notes {
  white-space: pre-line;
  margin: 0 auto;
  height: fit-content;
  width: 90%;
}

#song-notes {
  width: fit-content;
  margin: 3% auto;
  white-space: pre;
  overflow: scroll;
}

#map {
  margin: auto;
  width: 95vw;
  height: 90vh;
  min-width: 250px;
  max-width: 1400px;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1.5px solid #1f1109ff;
}

/* **** login **** */

#auth-forms {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2rem auto;
  width: fit-content;
  height: fit-content;
  min-width: 350px;
  max-width: 1400px;
  border: 1.5px solid #1f1109ff;
  border-radius: 0.3rem;
  font: 100 1rem "Rubik", sans-serif;
  position: relative;
}

#auth-forms h1 {
  text-align: center;
  color:#5c516d;
  font-weight: 400;
}

#user-messages {
  text-align: center;
  margin: 1rem 2.5%;
}

#auth-forms section {
  margin: 1rem 13%;
  position: relative;
}

#auth-forms #email {
  margin-left: 4.3rem;
}

#auth-forms button {
  background-color: rgb(139, 139, 139);
  color: rgb(219, 216, 216);
  height: 30px;
  border: none;
  width: 100px;
  border-radius: 2px;
  margin: 1rem 35%;
  padding: 4px 1px;
  font: 400 1rem "Rubik", sans-serif;
  cursor: pointer;
}

#email label, #password label {
  color: #5c516d;
}


input {
  padding: 4px 8px;
}

#auth-forms h3 {
  color:rgb(215, 99, 122);
  font-weight: 500;
}

/* **** new-show **** */

.show-inputs {
  margin: 2rem auto;
  width: fit-content;
  height: fit-content;
  overflow: scroll;
  min-width: 250px;
  max-width: 1400px;
  font: 100 1rem "Rubik", sans-serif;
  position: relative;
}

.show-inputs div {
  margin: 1rem 1rem;
}

#date-input input {
  margin-left: 5%;
}

#venue-input input {
  margin-bottom: 0.3rem;
}

#venue-input #city,
#venue-input #state,
#venue-input #country {
  margin-left: 27%;
  margin-right: 0;
}

.show-inputs button {
  display: block;
  margin: auto;
  height: 2rem;
  width: 4rem;
}

#results {
  overflow: hidden;
  list-style-type: none;
  width: fit-content;
  margin: 0.5rem auto;
  padding: 0;
}

#results li {
  white-space: nowrap;
  margin-bottom: 0.5rem;
  width: fit-content;
}

#map {
  width: 95vw;
  height: 90vh;
  margin: auto;
}

#address-form button {
  margin: 1rem auto;
}

.map-popup-buttons {
  color: #1f1109ff;
  padding: 0.2rem 1rem;
  background-color: #c7cac755;
  border: 1px solid #804a2066;
  border-radius: 0.5rem;
}

.map-popup-buttons:hover {
  border: 3px solid #804a2066;
}

.map-popup-buttons a {
  text-decoration: none;
}

.map-popup-buttons img {
  margin-left: 0.1rem;
  height: 0.8rem;
  width: 0.8rem;
}

#set-input {
  width: 95vw;
  max-width: 700px;
  height: 95vh;
  margin: auto;
}

#set-input form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

#set-input label {
  font: 400 1.2rem "Rubik", sans-serif;
  text-align: center;
}

#set-input #songs {
  height: 45vh;
  width: 100%;
}

#set-input #notes {
  height: 15vh;
  width: 100%;
}

#set-input button {
  height: 6vh;
  width: 50%;
  margin-top: 0.4rem;
  text-align: center;
  font: 400 1.2rem "Rubik", sans-serif;
  color: #1f1109ff;
  background-color: #c7cac755;
  border: 1px solid #767676;
  border-radius: 0.5rem;
}

#show-confirm-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  height: 4rem;
}

#show-confirm-bar .map-popup-buttons {
  background-color: #ffffffaa;
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3rem;
}

#confirmation-notes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
}

/* **** song-editor **** */

.table-mode-container__editor {
  position: relative;
  margin: auto;
  width: 95vw;
  height: 95vh;
  min-width: 250px;
  max-width: 1400px;
  border-radius: 0.3rem;
  font: 100 1rem "Rubik", sans-serif;
  padding: 5px 5px;
}

.table-mode-container__editor h3 {
  margin: 0.6rem auto;
  padding: 0 0.1rem;
  text-align: center;
}

#song-edit-selector {
  width: fit-content;
  margin: auto;
}

#song-editor-form {
  position: relative;
  height: 100;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#song-editor-title {
  font-size: 1.6rem;
  font-weight: 500;
}

#song-editor-form__button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

#song-editor-form button {
  color: #1f1109ff;
  background-color: #c7cac755;
  border: 1px solid #804a2066;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.75rem;
  height: fit-content;
  width: fit-content;
}

.song-edit-fieldset {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 0.6rem;
  background-color: #c7cac722;
}

.song-edit-fieldset fieldset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

/* **** coming-soon **** */

.table-mode-container__coming-soon {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin: 12vh auto;
  width: fit-content;
  height: fit-content;
  overflow: scroll;
  min-width: 250px;
  max-width: 500px;
  border-radius: 3px;
  font: 100 1rem "Rubik", sans-serif;
  padding: 5px 5px;
}

.table-mode-container__coming-soon h1 {
  text-align: center;
  padding: 5px 5px;
  font-weight: 500;
}

.table-mode-container__coming-soon p {
  font-size: 1.1rem;
  width: 90%;
  margin: 5% auto;
}

/* **** utils **** */

.hide {
  display: none;
}

.center-children {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* **** footer **** */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #023047ea;
  min-height: 40px;
}
.footer-text {
  font: 100 14px "Rubik", sans-serif;
  color: #bdcdcd7e;
  text-transform: uppercase;
}

.copyright, .thc {
  margin-left: 16px;
}

.question-mark-icon {
  background-color: #bdcdcd7e;
  color: #023047ea;
  border-radius: 20px;
  margin-left: 16px;
  padding: 0 5px;
  font-weight: 300;
}

a:hover .question-mark-icon {
  background-color: #907eab;
}

.footer-text a, .footer-text a:hover, .footer-text a:visited, .footer-text a:link, .footer-text a:active {
  text-decoration: none;
}



/* ************************* */
/* ***** media queries ***** */
/* ************************* */

@media (min-width: 440px) {
  .table-mode-container {
    width: 97vw;
    max-width: 1300px;
  }
}

@media (min-width: 450px) {
  nav > a {
    /* flex: 1; */
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  button#view-mode-button {
    width: 120px;
    height: 34px;
  }

  .sign-in-button {
    width: 120px;
    height: 34px;
  }
}

@media (min-width: 818px) {
  #header-buttons {
    flex-flow: row nowrap;
    margin-left: 40px;
    margin-top: 44px;
  }
}

@media (min-width: 996px) {
  #header-buttons {
    width: 30%;
  }

  button#view-mode-button {
    width: 140px;
    height: 40px;
  }

  .sign-in-button {
    width: 140px;
    height: 40px;
  }
}

@media (min-width: 1450px) {
  header {
    max-width: 1086px;
    margin: auto 10% auto 20%;
  }
}
