/* **** shared **** */

/* makes errors readable */
pre {
  background-color: white;
}

* {
  box-sizing: border-box;
}

body {
  background: url(../assets/crowd_star3.jpeg) no-repeat center center fixed;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 0 auto;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* width: 70%; */
  margin-top: 15px;
}

nav > a {
  /* flex: 1; */
  text-decoration: none;
  text-align: left;
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  color: #e0e4ccc6;
  font-size: 1.3rem;
  margin-left: 12px;
}

nav > a:hover {
  /* font-size: 2rem; */
  font-size: 1.5rem;
}

.thc-icon {
  width: 80px;
  height: 80px;
  margin-top: 16px;
}

#header-buttons {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-evenly;
  /* width: 20%; */
  /* margin-left: 4px; */
}

#header-buttons .button {
  border: none;
  padding: 4px 1px;
  border-radius: 2px;
  color: #444;
  font: 400 1rem "Rubik", sans-serif;
  cursor: pointer;
}

button#view-mode-button {
  background-color: #e0e4ccd5;
  height: 30px;
  width: 100px;
  margin-top: -9px;
}

.sign-in-button, .sign-out-button {
  background-color: #e0e4ccc6 !important;
  color: #444 !important;
  height: 30px;
  width: 100px;
  margin-top: 13px;
}

.years,
.total-price {
  line-height: 16px;
}

#user-display {
  font: 500 1rem "Rubik", sans-serif;
  text-align: center;
  color: #907eab;
  margin: 0px 0px 6px;
}

#cluster-map {
  margin: auto auto 30px auto;
  width: 95vw;
  /* height: 90vh; */
  height: 70vh;
  min-width: 250px;
  max-width: 1400px;
  padding: 0.5rem;
  border-radius: 3px;
}

.mapboxgl-popup-content {
  width: fit-content;
  text-align: center;
  font-size: 1rem;
}

.mapboxgl-popup-content ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  line-height: 1.3rem;
}

.mapboxgl-popup-content h1 {
  font-size: 1rem;
}

.table-mode-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 96vw;
  height: 70vh;
  overflow: scroll;
  min-width: 250px;
  font: 100 15px "Rubik", sans-serif;
  margin: 0px auto;
}

.table-mode-container #about {
  margin: 6vh auto;
  max-width: 760px;
  font: 100 1rem "Rubik", sans-serif;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  column-gap: 20px;
  margin: 2px 0px;
}

.table-mode-container h1 {
  /* margin-bottom: 4px !important; */
  font-size: 26px;
  color: #5c516d;
  font-weight: 400;
}

.table-mode-container h3 {
  /* margin-bottom: 0px !important; */
  margin: 0px 0px 6px 0px !important;
  color: #666;
  line-height: 1.2rem;
  font-weight: 400;
  font-size: 16px;
}

.table-mode-container__headers--single-model {
  display: block;
  text-align: center;
}

.table-mode-container__headers--single-model a {
  color: #408a8c;
}

.table-mode-container > table {
  position: relative;
  width: 100%;
}

th {
  height: 2.3rem;
  min-width: 4.2rem;
  font-weight: 300;
  background-color: #bdcdcd7e;
  color: #6e4513;
}

.table-mode-container__thead {
  position: sticky;
  top: -6px;
}

.table-mode-container__thead--no-transparency {
  background-color: #c7cac7ff;
  transition-property: background-color;
  transition-duration: 0.1s;
}

tr td {
  border-bottom: 1px solid rgb(205, 205, 205);
  height: 36px;
  text-align: center;
  vertical-align: bottom;
}

#about {
  padding: 0px 60px;
}

#about a {
  text-decoration: none;
  color: #5c516d;
  font-weight: 500;
}

#about a:hover {
  color: #84739f;
}

/* make the first column of the ALL VENUES table more narrow */
#table-column-0 {
  /* max-width: 50px; */
  text-align: center;
}

td a {
  text-decoration: none;
  color: #444;
}

td > a:hover {
  font-weight: 400;
  color: #cb6d1c;
}

.icon {
  position: relative;
  top: 0.1rem;
  width: 1rem;
  height: 1rem;
  margin: auto;
}

/* **** venue-page **** */

#performance-list {
  margin: auto;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.3rem;
  padding-top: 2rem;
}

#performance-list > a {
  text-decoration: none;
  color: #408a8c;
}

#performance-list > a:hover,
#performance-list > a:active,
#performance-list > a:focus {
  text-decoration: none;
  /* border-bottom: 1px solid black; */
  font-size: 1.6rem;
  color: #49999e;
}

/* **** show-page **** */

#setlist-wrapper {
  width: 100%;
  height: fit-content;
  margin: 1rem auto 0 1rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* align-items: left; */
}

.setlist-title {
  text-align: center;
  margin: 0;
}

.setlist {
  width: fit-content;
}

.setlist ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0.5rem auto;
}

.setlist li {
  width: fit-content;
  font-size: 16px;
}

.encore-title {
  font-weight: 400;
}

.encore-list ul {
  margin: 0;
}

#show-notes {
  text-align: center;
  white-space: pre-line;
  font-size: 16px;
  margin: 0 auto;
  height: fit-content;
  width: 90%;
}

#song-notes {
  width: fit-content;
  margin: 3% auto;
  white-space: pre;
  overflow: scroll;
}

#map {
  margin: auto;
  width: 95vw;
  height: 79vh;
  min-width: 250px;
  max-width: 1400px;
  padding: 0.5rem;
  /* border-radius: 1rem; */
  border-radius: 3px;
  border: 1.5px solid #1f1109ff;
}

/* **** login **** */

#auth-forms {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2rem auto;
  width: fit-content;
  height: fit-content;
  min-width: 350px;
  max-width: 1400px;
  border: 1.5px solid #1f1109ff;
  border-radius: 0.3rem;
  font: 100 1rem "Rubik", sans-serif;
  position: relative;
}

#auth-forms h1 {
  text-align: center;
  color: #5c516d;
  font-weight: 400;
}

#user-messages {
  text-align: center;
  margin: 1rem 2.5%;
}

#auth-forms section {
  margin: 1rem 13%;
  position: relative;
}

#auth-forms #email {
  margin-left: 4.3rem;
}

#auth-forms button {
  background-color: rgb(139, 139, 139);
  color: rgb(219, 216, 216);
  height: 30px;
  border: none;
  width: 100px;
  border-radius: 2px;
  margin: 1rem 35%;
  padding: 4px 1px;
  font: 400 1rem "Rubik", sans-serif;
  cursor: pointer;
}

#email label,
#password label {
  color: #5c516d;
}

input {
  padding: 4px 8px;
}

#auth-forms h3 {
  color: rgb(215, 99, 122);
  font-weight: 500;
}

/* **** new-show **** */

.show-inputs {
  color: #928f97;
  margin: 2rem auto;
  width: fit-content;
  height: fit-content;
  overflow: scroll;
  min-width: 320px;
  max-width: 1400px;
  font: 100 1rem "Rubik", sans-serif;
  position: relative;
}

.show-inputs div {
  margin: 1rem 1rem;
}

#date-input input {
  margin-left: 5%;
  font-family: Rubik, sans-serif;
  color: #83759d;
}

#venue-input input {
  margin-bottom: 0.3rem;
}

#venue-input #city,
#venue-input #state,
#venue-input #country {
  margin-left: 25%;
  margin-right: 0;
}

.show-inputs button {
  display: block;
  margin: auto;
  border-radius: 2px;
  border: none;
  background-color: #928f97;
  color: #444 !important;
  height: 30px;
  width: 100px;
  margin-top: 13px;
}

#results {
  overflow: hidden;
  list-style-type: none;
  width: fit-content;
  margin: 0.5rem auto;
  background-color: #fffffff5;
  color: #333;
  padding-top: 10px 0 0 10px;
}

#results li {
  white-space: nowrap;
  margin-bottom: 0.5rem;
  width: fit-content;
}

#map {
  width: 95vw;
  /* height: 79vh; */
  height: 76vh;
  margin: auto;
}

#address-form button {
  margin: 1rem auto;
}

.map-popup-buttons {
  height: 40px;
  width: 160px;
  text-align: center;
  justify-content: center;
  font: 400 1.2rem "Rubik", sans-serif;
  background-color: #aaa8ae;
  color: #444 !important;
  height: 30px;
  width: 100px;
  margin-top: 13px;
  border: none;
  border-radius: 2px;
}

.map-popup-buttons:hover {
  border: 3px solid #804a2066;
}

.map-popup-buttons a {
  text-decoration: none;
}

.map-popup-buttons img {
  margin-left: 0.1rem;
  height: 0.8rem;
  width: 0.8rem;
}

#set-input {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: 90%;
  height: auto;
  max-width: 700px;
  margin: auto;
}

#set-input form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#set-input label {
  font: 400 1.2rem "Rubik", sans-serif;
  text-align: center;
  color: #777;
}

#set-input #songs {
  height: 36vh;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.notes-heading {
  margin-top: 10px;
}

#set-input #notes {
  height: 15vh;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

#set-input button {
  height: 40px;
  width: 160px;
  text-align: center;
  font: 400 1.2rem "Rubik", sans-serif;
  background-color: #aaa8ae;
  color: #444 !important;
  height: 30px;
  width: 100px;
  margin-top: 13px;
  border: none;
  border-radius: 2px;
}

#show-confirm-bar {
  color: #928f97;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  column-gap: 0.5em;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  height: 4rem;
}

#show-confirm-bar .map-popup-buttons {
  background-color: #ffffffaa;
  height: 30px;
  width: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3rem;
}

#confirmation-notes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
}

/* **** song-editor **** */

.table-mode-container__editor {
  position: relative;
  margin: auto;
  width: 95vw;
  /* height: 100vh; */
  height: 75vh;
  min-width: 250px;
  max-width: 1400px;
  border-radius: 0.3rem;
  font: 100 1rem "Rubik", sans-serif;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.table-mode-container__editor h3 {
  margin: 0.6rem auto;
  padding: 0 0.1rem;
  text-align: center;
}

#song-edit-selector {
  width: fit-content;
  margin: auto;
}

#song-editor-form {
  position: relative;
  height: 100;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1rem; */
  margin-top: 1rem;
}

#song-editor-title {
  color: #5c516d;
  font-size: 1.6rem;
  font-weight: 500;
}

#song-editor-form__button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

#song-editor-form button {
  height: 40px;
  width: 160px;
  margin-top: 0.4rem;
  text-align: center;
  font: 400 1.2rem "Rubik", sans-serif;
  background-color: #928f97;
  background-color: #aaa8ae;
  color: #444 !important;
  height: 30px;
  width: 100px;
  margin-top: 13px;
  border: none;
  border-radius: 2px;
}

.song-edit-fieldset {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 600px;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-evenly; */
  align-items: stretch;
  gap: 0.6rem;
  background-color: #c7cac722;
}

.song-edit-fieldset fieldset {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-evenly; */
}

.show-inputs {
  background-color: rgba(255, 255, 255, 0.9);
  width: 40%;
  padding: 20px;
}

.show-inputs legend {
  color: #777;
}

.radio-sp-left1 {
  margin-left: 5%;
}

.radio-sp-left2 {
  margin-left: 25%;
}

.notes {
  height: 130px;
}

/* **** coming-soon **** */

.table-mode-container__coming-soon {
  background-color: rgba(255, 255, 255, 0.9);
  /* position: relative; */
  margin: 4vh auto;
  /* width: fit-content; */
  /* height: fit-content; */
  overflow: scroll;
  /* min-width: 250px; */
  max-width: 800px;
  border-radius: 3px;
  font: 100 1rem "Rubik", sans-serif;
  padding: 5px 5px;
}

.table-mode-container__coming-soon h1 {
  text-align: center;
  padding: 5px 5px;
  font-weight: 500;
  font-size: 26px;
  color: #5c516d;
  font-weight: 400;
}

.table-mode-container__coming-soon p {
  width: 90%;
  margin: 5% auto;
}

/* **** utils **** */

.hide {
  display: none;
}

.center-children {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* **** footer **** */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #023047ea;
  min-height: 40px;
  max-width: 1439px;
}

.footer-text {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font: 100 14px "Rubik", sans-serif;
  color: #bdcdcd7e;
  text-transform: uppercase;
}

.question-mark-icon {
  background-color: #bdcdcd7e;
  color: #023047ea;
  border-radius: 20px;
  /* margin-left: 16px; */
  padding: 0 5px;
  font-weight: 300;
}

a:hover .question-mark-icon {
  background-color: #907eab;
}

.footer-text a,
.footer-text a:hover,
.footer-text a:visited,
.footer-text a:link,
.footer-text a:active {
  text-decoration: none;
}

.map-popup-buttons {
  background-color: rgb(112, 111, 111) !important;
  color: #e0e4cc !important;
  font-weight: 200 !important;
}

.map-popup-buttons a {
  color: #e0e4cc !important;
}

.map-popup-buttons img {
  color: #e0e4cc !important;
}

/* coming soon button jacket */
/* remove when coming soon button jacket is removed  */
.button-jacket {
  font-family: "Rubik";
  background-color: #de53a4d4;
  color: #fff;
  font-size: 14px;
  width: 108px;
  text-align: center;
  padding-top: 4px;
  margin-top: -23px;
  margin-left: -3px;
  padding-bottom: 37px;
}

.sign-in-button {
  position: relative;
  top: 29px;
}

/* ************************* */
/* ***** media queries ***** */
/* ************************* */

@media (min-width: 440px) {
  .table-mode-container {
    width: 97vw;
    max-width: 1300px;
    height: 79vh;
    /* height: 360px; */
  }
}

@media (min-width: 450px) {
  nav > a {
    /* flex: 1; */
    font-size: 1.4rem;
  }

  .table-mode-container__coming-soon {
    max-width: 80vw;
  }
}

@media (min-width: 768px) {
  button#view-mode-button {
    width: 120px;
    height: 34px;
    margin-top: 0px;
  }

  .sign-in-button, .sign-out-button {
    width: 120px;
    height: 34px;
  }

  .button-jacket {
    width: 127px;
    margin-top: -25px;
  }

  .table-mode-container__coming-soon {

  }

  .table-header {
    margin: 10px 0px;
  }

  .table-mode-container h1 {
    font-size: 24px;
    margin-bottom: 4px !important;
  }

  .table-mode-container h3 {
    margin: 0px !important;
    font-size: 17px;
    line-height: 1.4rem;
  }

  #set-input {
    padding: 20px;
    width: 90%;
  }

  #cluster-map {
    height: 80vh;
  }

  .table-mode-container__editor {
    height: auto;
  }
}

@media (min-width: 818px) {
  header {
    justify-content: space-between;
  }

  .thc-icon {
    position: absolute;
    margin-left: 37px;
    margin-top: 20px;
  }

  nav {
    margin-left: 126px;
  }

  #header-buttons {
    flex-flow: row nowrap;
    margin-left: 40px;
    margin-top: 44px;
  }

  .sign-in-button, .sign-out-button {
    margin-top: 0px;
    margin-left: 0px;
    margin: 0px 10px;
    height: 33px;
    top: -5px;
    left: 2px;
  }
  
  .sign-in-button {
    /* margin-top: -55px; */
    top: 0px;
  }
  
  button#view-mode-button {
    width: 120px;
    height: 33px;
    margin-top: 0px;
  }
  
  .button-jacket {
    /* width: 127px; */
    /* margin-top: -59px; */
    margin-left: 9px;
    margin-top: -55px;
  }
}

@media (min-width: 996px) {
  #header-buttons {
    width: 26%;
  }

  button#view-mode-button {
    width: 130px;
    height: 36px;
  }

  .button-jacket {
    width: 144px;
    margin-top: -57px;
    padding-bottom: 41px;
  }

  .sign-in-button, .sign-out-button {
    width: 130px;
    height: 36px;
    left: 6px;
  }

  #show-notes {
    font-size: 20px;
  }

  #show-confirm-bar {
    column-gap: 3em;
  }

  .setlist li {
    font-size: 18px;
  }

  .mapboxgl-canvas {
    height: 92% !important;
  }

  .table-mode-container {
    height: 76vh !important;
  }
}

/* 1450 and bigger */
@media (min-width: 1330px) {
  header {
    max-width: 1286px;
    /* margin: auto 10% auto 20%; */
  }
}
