<% layout('layouts/boilerplate') %> <%- include('./partials/header') %>
<div class="table-mode-container__coming-soon">
  <h1>Coming Soon!</h1>
  <p>
    You are currently viewing the re-launched hoboscompanion.org. The original site allowed all users to log in but for now this functionality is limited to admins so they can add new shows. Password reset functionality needs to be re-implemented for all users before they can log in.
  </p>
</div>

<%- include('./partials/footer') %>
