<% layout('layouts/boilerplate') %> <%- include('./partials/header') %>
<div class="table-mode-container__coming-soon">
  <h1>Coming Soon!</h1>
  <p>
    You are currently viewing version 1 of the new hoboscompanion.org. In
    subsequent versions there will be functionality for users to login and see
    their old data as well as allowing admins to add the shows that have not
    been included since the original site went down in 2019.
  </p>
</div>
