<% layout('layouts/boilerplate') %> <%- include('./partials/header') %>
<div class="table-mode-container__coming-soon">
  <h1><%- title %></h1>
  <p>
    <%- body %>
  </p>
</div>

<%- include('./partials/footer') %>
