<% layout('layouts/boilerplate') %><%- include('partials/header') %>

<div class="table-mode-container__editor">
  <form action="/songs/editor/confirm" method="POST" id="song-editor-form">
    <fieldset class="song-edit-fieldset">
      <legend id="song-editor-title"><%- song.title %></legend>
      <label for="author">Author(s)</label>
      <input type="text" name="author" placeholder="list all writers" />
      <fieldset>
        <legend>
          Is this a song or something else?<br />(e.g. banter, countdown, etc)
        </legend>
        <label for="isSong">Yes, it's a song.</label>
        <input type="radio" name="isSong" value="true" required />
        <label class="radio-sp-left1" for="isSong">No, not a song.</label>
        <input type="radio" name="isSong" value="false" />
      </fieldset>
      <label for="notes">Notes</label>
      <textarea
        name="notes"
        id=""
        cols="30"
        rows="10"
        placeholder="lyrics, background, etc"
      ></textarea>
      <fieldset>
        <legend>Is this song instrumental?</legend>
        <label for="instrumental">No</label>
        <input type="radio" name="instrumental" value="false" /><label class="radio-sp-left2" 
          for="instrumental"
          >Yes</label
        >
        <input type="radio" name="instrumental" value="true" required />
      </fieldset>
    </fieldset>
    <div id="song-editor-form__button-container">
      <button type="submit">Submit</button>
  </form>
</div>

<%- include('./partials/footer') %>
