<% layout('layouts/boilerplate') %> <%- include('../partials/header') %>

<div class="table-mode-container--new-show">
  <form class="show-inputs" action="/new-show/venue-check" method="POST">
    <fieldset>
      <legend>Date/Venue Details</legend>
      <div id="date-input">
        <label for="date">Date:</label>
        <input type="text" name="date" placeholder="Date" id="date" />
      </div>
      <div id="venue-input">
        <label for="venue-name">Venue:</label>
        <input
          type="text"
          name="name"
          placeholder="Venue Name"
          id="venue-name"
        /><br />
        <ul id="results"></ul>
        <input type="text" name="city" placeholder="City" id="city" /><br />
        <input type="text" name="state" placeholder="State" id="state" /><br />
        <input type="text" name="country" placeholder="Country" id="country" />
      </div>
      <button type="submit">Enter</button>
    </fieldset>
  </form>
</div>

<script>
    const showResults = document.querySelector('#results')
    const venueField = document.querySelector('#venue-input')
    const nameField = document.querySelector('#venue-name')
    const cityField = document.querySelector('#city')
    const stateField = document.querySelector('#state')
    const countryField = document.querySelector('#country')

    const venueListJSON = <%- JSON.stringify(venueList)%>

    const options = {
    isCaseSensitive: false,
    includeScore: false,
    shouldSort: true,
    includeMatches: false,
    findAllMatches: false,
    minMatchCharLength: 1,
    location: 0,
    threshold: 0.3,
    distance: 100,
    useExtendedSearch: false,
    ignoreLocation: false,
    ignoreFieldNorm: false,
    fieldNormWeight: 1,
    keys: [
      "name"
    ]
  };

  const fuse = new Fuse(venueListJSON, options);

  showResults.classList.add("hide")

  document.querySelector('#venue-name').addEventListener('keyup', () => {
    showResults.classList.remove("hide")
    let results = fuse.search(event.target.value)
    let list =  '';
    for (i=0; i<results.length; i++) {
       list += '<li>' + results[i].item.name + '</li>';
      }
    showResults.innerHTML = list
    document.querySelectorAll('li').forEach(li => li.addEventListener('click', () => {
      showResults.classList.add("hide")
      let returnVenue = results.find(el => el.item.name === event.target.innerHTML)
      nameField.value = returnVenue.item.name
      cityField.value =  returnVenue.item.city
      stateField.value = returnVenue.item.state
      countryField.value = returnVenue.item.country
    }))
  })

  venueField.addEventListener('input', () => {
    let input = event.target.value;
    const re = /\b(\w)/g;
    // let field = document.getElementById(`${event.target.id}`)
    if (event.target.id == "country") {
      input.length < 4 ? countryField.value = input.toUpperCase() : countryField.value = input.toLowerCase().replaceAll(re, letter => letter.toUpperCase()
    ) ;
    } else if (event.target.id == "state") {
      input.length < 3 ? stateField.value = input.toUpperCase() : stateField.value = input.toLowerCase().replaceAll(re, letter => letter.toUpperCase()
    )
    } else if (event.target.id == "city"){
       cityField.value = input.toLowerCase().replaceAll(re, letter => letter.toUpperCase()
    )
    }
  })
</script>
.
