<% layout('layouts/boilerplate') %> <%- include('../partials/header') %>

<div>
  <form class="show-inputs" action="/new-show/venue-check" method="POST">
    <fieldset>
      <legend>Date/Venue Details</legend>
      <div id="date-input">
        <label for="date">Date:</label>
        <input
          type="date"
          name="date"
          min="2000-07-01"
          pattern="\d{2}\/\d{2}\/\d{4}"
          placeholder="MM/DD/YYYY"
          id="date"
          required
        />
      </div>
      <div id="venue-input">
        <label for="venue-name">Venue:</label>
        <input
          type="text"
          name="name"
          placeholder="Venue Name"
          id="venue-name"
          autocomplete="off"
          required
        /><br />
        <ul id="results"></ul>
        <input
          type="text"
          name="city"
          placeholder="City"
          id="city"
          required
        /><br />
        <input
          type="text"
          name="state"
          placeholder="State"
          id="state"
          required
        /><br />
        <input
          type="text"
          name="country"
          placeholder="Country"
          id="country"
          required
        />
        <input type="text" name="venueId" placeholder="venueId" id="venueId" />
      </div>
      <button type="submit">Submit</button>
    </fieldset>
  </form>
</div>

<script>
    const showInputs = document.querySelector('.show-inputs');
    const showResults = document.querySelector('#results')
    const dateField = document.querySelector("#date")
    const venueField = document.querySelector('#venue-input')
    const nameField = document.querySelector('#venue-name')
    const cityField = document.querySelector('#city')
    const stateField = document.querySelector('#state')
    const countryField = document.querySelector('#country')
    const venueIdField = document.querySelector('#venueId')
    const venueListJSON = <%- JSON.stringify(venueList)%>;

    venueIdField.style.display = "none";
    dateField.max = new Date(new Date(Date.now() + 1000 * 60 * 60 * 24 * 10)).toISOString().split("T")[0];

    const options = {
    isCaseSensitive: false,
    includeScore: false,
    shouldSort: true,
    includeMatches: false,
    findAllMatches: false,
    minMatchCharLength: 1,
    location: 0,
    threshold: 0.3,
    distance: 100,
    useExtendedSearch: false,
    ignoreLocation: false,
    ignoreFieldNorm: false,
    fieldNormWeight: 1,
    keys: [
      "venueName"
    ]
  };

  const fuse = new Fuse(venueListJSON, options);

  showResults.classList.add("hide")

  document.querySelector('#venue-name').addEventListener('keyup', () => {
    showResults.classList.remove("hide")
    let results = fuse.search(event.target.value)
    let list =  '';
    for (i=0; i<results.length; i++) {
       list += '<li>' + results[i].item.venueName + '</li>';
      }
    showResults.innerHTML = list
    document.querySelectorAll('li').forEach(li => li.addEventListener('click', () => {
      showResults.classList.add("hide");
      let returnVenue = results.find(el => el.item.venueName === event.target.innerHTML);
      nameField.value = returnVenue.item.venueName;
      cityField.value =  returnVenue.item.city;
      stateField.value = returnVenue.item.state;
      countryField.value = returnVenue.item.country;
      venueIdField.value = returnVenue.item.venueId;
    }))
  })

  venueField.addEventListener('input', () => {
    let input = event.target.value;
    const re = /\b(\w)/g;
    if (event.target.id == "country") {
      input.length < 4 ? countryField.value = input.toUpperCase() : countryField.value = input.toLowerCase().replaceAll(re, letter => letter.toUpperCase()
    ) ;
    } else if (event.target.id == "state") {
      input.length < 3 ? stateField.value = input.toUpperCase() : stateField.value = input.toLowerCase().replaceAll(re, letter => letter.toUpperCase()
    )
    } else if (event.target.id == "city"){
       cityField.value = input.toLowerCase().replaceAll(re, letter => letter.toUpperCase()
    )
    }
  })

  dateField.addEventListener("input", () => {
    let input = event.target.value;
    const re = /\d+\//;
    // dateRegEx adapted from https://www.regular-expressions.info/dates.html
    const dateRegEx = /^([1-9]|0[1-9]|1[012])[/]([1-9]|0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d$/
    console.log(input)
    console.log(new Date(`${input}T00:00:00`).toLocaleDateString());
    console.log(dateRegEx.test(new Date(`${input}T00:00:00`).toLocaleDateString()))
  })
</script>
